@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {

    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    
    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: .92rem;
    font-weight: 500;
    color: var(--dark-grayish-magenta);

    background-image: url('./images/bg-pattern-bottom-mobile.svg');
    background-color: var(--white);
    margin: 0;
}

h1,
h4,
p {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 650px;
}

.social-proof {
    margin: 5.5em 0;
}

.social-proof--top {
    background-image: url('./images/bg-pattern-top-mobile.svg');
    background-repeat: no-repeat;

    text-align: center;
}

.social-proof--bottom {
    background-image: url('./images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
}

.social-proof__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.1;
    color: var(--very-dark-magenta);

    margin-bottom: .75em;
}

.social-proof__message {
    line-height: 1.75;
}

.social-proof__ratings {
    margin: 2.75em 0;
}

.social-proof__rating {
    font-weight: 700;
    font-size: .825rem;
    color: var(--very-dark-magenta);
    
    background-color: var(--light-grayish-magenta);
    border-radius: 8px;
    padding: 1.2em;
    margin-bottom: 1.2em;
}

.stars {
    display: flex;
    justify-content: center;
    gap: .65em;
    margin-bottom: 1.2em;
}

.social-proof__review {
    font-size: .85rem;
    color: var(--light-grayish-magenta);

    background-color: var(--very-dark-magenta);
    border-radius: 8px;
    margin-bottom: 1.3em;
    padding: 2.5em 2em;
}

.reviewer {
    display: flex;
    gap: .7em;
    align-items: center;
    margin-bottom: 1em;
}

.reviewer__image-container {
    width: 20%;
}

.reviewer__image {
    display: block;
    border-radius: 50%;
    width: 75%;
}

.reviewer__credentials,
.reviewer__image-container {
    margin-bottom: 1em;
}

.reviewer__credentials {
    font-size: .8rem;
}

.reviewer__name {
    margin-bottom: .3em;
}

.reviewer__status {
    font-weight: 400;
    color: var(--soft-pink);
}

.reviewer__message {
    line-height: 1.6;
}

@media (min-width: 1000px) {
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 1150px;
    }
    
    .row {
        display: flex;
        gap: 2em;
    }

    .col {
        width: 50%;
    }

    .social-proof--bottom {
        background-image: url('./images/bg-pattern-bottom-desktop.svg');
    }

    .social-proof--top {
        background-image: url('./images/bg-pattern-top-desktop.svg');
        margin-bottom: 2em;
    }

    .top {
        align-items: center;
        gap: 8em;
    }

    .social-proof__text {
        text-align: left;
    }

    .social-proof__title {
        font-size: 2.5rem;
        padding-right: 1em;
        margin-bottom: .2em;
    }

    .social-proof__rating {
        font-size: .75rem;
        display: flex;
        gap: 2.75em;
        padding: 1.5em;
        padding-right: 2em;
        width: 85%;
    }

    .social-proof__rating--middle {
        margin: 0 auto 1.2em auto; 
    }

    .social-proof__rating--bottom {
        margin-left: auto;
    }

    .social-proof__review {
        font-size: .82rem;
        flex: 1;
    }

    .stars {
        align-self: center;
        margin: 0;
    }

   .social-proof__reviews {
       height: 270px;
   }

   .social-proof__review {
       margin: 0;
   }

   .social-proof__review--first {
       align-self: flex-start;
   }

   .social-proof__review--middle {
       align-self: center;
   }

   .social-proof__review--last {
       align-self: flex-end;
   }
}